.dashboard-container {
  width: 100%;
  height: 500px;
  //background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
  background-image: url('background.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  //background-size: 60% 100%;
  background-size: 100% auto;
  border-radius: 10px;
  display: flex;
}
.dashboard-nav {
  width: 35%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #333;
  //padding: 1rem 2rem;
  //box-shadow: 1px 1px #2d2d2d;
  //display: block;
}
.dashboard-content {
  height: 100%;
  width: 100%;
  margin-left: 20px;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dashboard-nav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
  }
  .dashboard-content {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.dashboard-nav-items {
  width: 100%;
  height: 25%;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  cursor: pointer;
}
.dashboard-nav-items-content {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 40px 40px;
  display: flex;
}
.dasboard-nav-items-icon {
  font-size: 50px !important;
  color: white;
}
.dasboard-nav-items-title {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.dasboard-nav-items-title > a {
  width: 100%;
  height: 100%;
  border: 10px red;
}
.dasboard-nav-items-text {
  display: inherit;
  float: left;
  color: white;
  font-size: 10px;
}
