#gridContainer {
  height: 400px;
}

#gridContainer tr.main-row td:not(:first-child) {
  height: 21px;
}

#gridContainer tr.notes-row {
  white-space: normal;
  vertical-align: top;
}

#gridContainer tr.notes-row td {
  height: 70px;
  color: #999;
}

.dark #gridContainer tr.notes-row td {
  color: #777;
}

#gridContainer tbody.employee:hover {
  background-color: #ebebeb;
}

.dark #gridContainer tbody.employee:hover {
  background-color: #484848;
}

#gridContainer tbody.employee:hover tr.main-row td {
  color: #000;
}

.dark #gridContainer tbody.employee:hover tr.main-row td {
  color: #ccc;
}

#gridContainer tbody.employee:hover tr.notes-row td {
  color: #888;
}

#gridContainer tr.dx-freespace-row {
  display: none;
}

.bg-uutien-canhbao {
  background-color: #5dade2;
}

.bg-binhthuong {
  background-color: white;
}

.border-1 {
  // border: 0.1px solid grey;
}

#gridContainer tr {
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2) !important;
}
