#chi-so-sinh-ton .dx-field-item-help-text {
  float: right;
}
#chi-so-sinh-ton .dx-form-group-content {
  // background-color: red;
  // padding-top: 5;
  // padding-bottom: 0;
  // padding-left: 0;
  // padding-right: 0;
}
.bg-dimly-blue {
  background-color: #e8f9fd;
}
.bg-shadow-light {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  // border: blue solid 1px;
}
