.duoc-title {
  background-image: linear-gradient(109.6deg, rgba(44, 83, 131, 1) 18.9%, rgba(95, 175, 201, 1) 91.1%);
  //background-image: linear-gradient(65.4deg, rgba(56, 248, 249, 1) -9.1%, rgba(213, 141, 240, 1) 48%, rgba(249, 56, 152, 1) 111.1%);
  color: white;
  margin-bottom: 5px;
  display: flex;
  //background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  //box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  padding: 3px;
  border-radius: 5px;
  //border: 1px solid #000000;
}
.duoc-title:before,
.duoc-title:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: solid 0.1px;
  margin: auto 0.25em;
}
.duoc-label {
  color: white;
  width: 100%;
  padding: 5px;
  background-image: linear-gradient(109.6deg, rgba(44, 83, 131, 1) 18.9%, rgba(95, 175, 201, 1) 91.1%);
}
.row-padding-top-5 {
  padding-top: 5px;
}
.row-padding-left-5 {
  padding-left: 5px;
}
.row-padding-right-5 {
  padding-right: 5px;
}
.row-padding-bottom-5 {
  padding-bottom: 5px;
}
.row-margin-top-5 {
  margin-top: 5px;
}
.row-margin-bottom-5 {
  margin-bottom: 5px;
}
.row-margin-left-5 {
  margin-left: 5px;
}
.row-margin-right-5 {
  margin-right: 5px;
}
.col-align-right {
  text-align: right;
  padding-right: 5px;
  padding-top: 7px;
}
.col-align-left {
  text-align: left;
  padding-right: 5px;
  padding-top: 7px;
}
.col-align-center {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.col-margin-left-5 {
  margin-left: 5px;
}
thead {
  height: 22px;
}
tr > td {
  border: 1px solid #ddd;
  text-align: center;
}
.div-button {
  text-align: center;
  //margin-bottom: 5px;
}
.btn-margin-5 {
  margin: 5px;
}
.header-go-thuoc {
  background-color: #5c9ccc;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.duoc-dropdown-button {
  border-radius: 5px;
}
.duoc-dropdown-button span.dx-button-text {
  color: white;
}
.no-border-radius {
  border: none !important;
  border-radius: 0px !important;
}
.div-display-flex {
  display: flex;
}
.button-duoc {
  width: auto;
  min-width: 100px;
  max-width: 250px;
}
.hr {
  border-bottom: 1px solid white;
  float: left;
  width: 90%;
}
.blur-background {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur-background {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.div-box-wrapper {
  border: 1px solid #5c8a8a;
  padding: 5px;
  border-radius: 5px;
}
//.jh-card {
//  background-image: linear-gradient( 65.4deg,  rgba(56,248,249,1) -9.1%, rgba(213,141,240,1) 48%, rgba(249,56,152,1) 111.1% );
//}
.div-height-100 {
  height: 100%;
}

.color-red {
  color: red;
}
