.action-button {
  padding: 1.5rem;
}

.section-group {
  padding: 1rem 1rem 0 1.5rem;
  font-weight: bold;
}
.section-group-loai {
  font-weight: bold;
}

.action-bhyt {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.div-input-with-checkBox {
  position: relative;
  .checkBoxStyle {
    position: absolute;
    bottom: 8px;
    margin-left: 8px;
  }
}

@media (max-width: 1024px) {
  .action-button {
    display: block;
  }
  .dateBoxStyle {
    width: 250px;
  }
}

@media (max-width: 1280px) {
  .div-input-with-checkBox {
    .checkBoxStyle {
      margin-left: 15px;
    }
  }
}
