$vienphi-grid-header-background-color: #337ab7;
$bvienphi-grid-header-text-color: white;
$vienphi-grid-header-filter-background-color: #ffffff;
$vienphi-grid-border: #a6c9e2;

#vien-phi-module .dx-datagrid-headers,
.vien-phi-pop-up .dx-datagrid-headers {
  background-color: $vienphi-grid-header-background-color;
  color: $bvienphi-grid-header-text-color;
  border-color: $vienphi-grid-border;
}

#vien-phi-module .dx-datagrid td,
.vien-phi-pop-up .dx-datagrid td,
#vien-phi-module .dx-datagrid-rowsview,
.vien-phi-pop-up .dx-datagrid-rowsview,
#vien-phi-module .dx-datagrid-total-footer,
.vien-phi-pop-up .dx-datagrid-total-footer {
  border-color: $vienphi-grid-border;
}

#vien-phi-module .dx-datagrid-headers .dx-datagrid-filter-row,
.vien-phi-pop-up .dx-datagrid-headers .dx-datagrid-filter-row {
  background-color: $vienphi-grid-header-filter-background-color;
  border-color: $vienphi-grid-border;
}

#vien-phi-module .dx-datagrid-headers .dx-header-filter,
.vien-phi-pop-up .dx-datagrid-headers .dx-header-filter {
  background-color: $vienphi-grid-header-background-color;
  border-color: $vienphi-grid-border;
  color: rgba(240, 240, 240, 240);
}
